# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# Ignore all environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log

# Database & Cache
*.sqlite
*.sqlite3
/db.json
/debug.log
/.cache

# Build & Output
/dist
/build
/out
/.next

# Misc
.DS_Store
Thumbs.db
